# LaTeX files
*.aux
*.log
*.synctex.gz
*.pdf
*.dvi
*.fdb_latexmk
*.fls
*.out
*.toc
*.bbl
*.blg
*.lot
*.lof
*.gz
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.fls
*.ilg
*.ind
*.idx
*.loa
*.lof
*.log
*.lol
*.lot
*.nav
*.nlo
*.nls
*.out
*.snm
*.synctex.gz
*.tdo
*.thm
*.toc
*.vrb